#include <windows.h>

1 ICON "tchess.ico"
1 RT_MANIFEST "tchess.manifest"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,9,4,0
 PRODUCTVERSION 1,9,4,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "TCHESS"
            VALUE "FileDescription", "TCHESS Chinese Chess"
            VALUE "FileVersion", "1.9.4"
            VALUE "InternalName", "tchess"
            VALUE "OriginalFilename", "tchess.exe"
            VALUE "ProductName", "TCHESS"
            VALUE "ProductVersion", "1.9.4"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0804, 1200
    END
END
